
:root {
  --main-bg: lightblue;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid blue;
  border-radius: 8px;
  background: lightgrey;
}

h1 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
}
label {
  display: block;
  margin-top: 15px;
  box-sizing: border-box;
  font-weight: bold;
}
button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: orange;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  transition: 0.2s ease;
  color: black;
}

button:hover {
  background: blue;
  color: white;
}
input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid blue;
}

#result {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}
